<div class="container-fluid">
    <div id="admin" class="row align-items-center admin">
        <div class="py-5">
            <h2>LOGIN</h2>
            <form action="/admin/login" method="post">
                <div class="mb-3 ">
                    <label for="usuario" class="form-label">Usuario</label>
                    <input type="text" class="form-control" name="usuario">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
            {{#if error}}
            <p>Usuario o password incorrecta</p>
            {{/if}}
        </div>
    </div>
</div>