<div class="container-fluid">
    <div id="admin.Novedades" class="row align-items-center admin">
        <div class="py-5"></div>
        <h1>Proximamente pag. de Novedades</h1>
        <p>Hola {{usuario}}</p>
        <a href="/admin/login/logout" class="btn btn-danger">Log Out<i class="fas fa-sign-out-alt"></i></a>
    </div>
</div>