h2 {
color: red; /**ejemplo comentario en css, representa el color de h2 */
text-transform:uppercase; /** transforma automaticamente en mayusculas */
text-align: center; 
}
h1{
background-color: yellow;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{ 
color: blue;
line-height: 30px; /** separacion entre lineas */ 
}
.tipo1{         /** los parrafos marcados como tipo1 seran los unicos impactados */
             /** tambien aplica a palabras dentro de <span class="tipo1" > */
    color: green;
    font-weight: bold;
    font-style: italic;
}
#caja{        /** afecta al div del tipo caja */
background-color: rgb(32, 43, 31);
width: 500px;
height: 300px;
padding: 15px;       /** separacion del texto a la caja, o margen */
border: 2px solid black;
box-sizing: border-box;  /** limitae el crecimiento de la caja */
margin-left: 50px;      /**separacion de la caja hacia afuera */
column-count: 2;
}


#caja p{
font-size: 30px;
}